## Deliverable 2. Create a Customer Travel Destinations Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Constitucion,CL,-35.3333,-72.4167,61.05,57,100,7.92,overcast clouds
1,1,Qaanaaq,GL,77.4840,-69.3632,14.31,71,100,4.50,overcast clouds
2,2,Gusinoye Ozero,RU,51.1144,106.2614,34.68,78,77,5.30,broken clouds
3,3,Sisimiut,GL,66.9395,-53.6735,32.97,98,100,25.08,snow
4,4,Albany,US,42.6001,-73.9662,62.60,55,40,9.22,scattered clouds

### User is prompted with two sequential input boxes for minimum and maximum temperature criteria

In [17]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 95

### A new DataFrame is created with the results rendered from the two input boxes

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Constitucion,CL,-35.3333,-72.4167,61.05,57,100,7.92,overcast clouds
4,4,Albany,US,42.6001,-73.9662,62.60,55,40,9.22,scattered clouds
5,5,Rikitea,PF,-23.1203,-134.9692,77.16,70,100,8.99,overcast clouds
6,6,Camacha,PT,33.0833,-16.3333,68.00,68,20,13.80,few clouds
7,7,Puerto Ayora,EC,-0.7393,-90.3518,77.00,94,75,3.44,light rain
10,10,Esna,EG,25.2934,32.5540,93.20,18,0,13.80,clear sky
13,13,Carballo,ES,43.2130,-8.6910,64.99,59,100,3.00,overcast clouds
15,15,Acapulco,MX,16.8634,-99.8901,80.60,65,20,3.44,few clouds
16,16,Castro,BR,-24.7911,-50.0119,75.51,51,9,3.78,clear sky
17,17,Palmer,US,42.1584,-72.3287,62.01,58,35,5.01,scattered clouds

### Determine empty rows.  There are 3 rows with no country indicated

In [19]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                379
City                   379
Country                376
Lat                    379
Lng                    379
Max Temp               379
Humidity               379
Cloudiness             379
Wind Speed             379
Current Description    379
dtype: int64

### Drop the 3 rows with no country indicated

In [20]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(how='any')
clean_df.count()

City_ID                376
City                   376
Country                376
Lat                    376
Lng                    376
Max Temp               376
Humidity               376
Cloudiness             376
Wind Speed             376
Current Description    376
dtype: int64

### Create a new DataFrame that will hold the hotel names from the subsequent hotel search

In [21]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Constitucion,CL,61.05,overcast clouds,-35.3333,-72.4167,
4,Albany,US,62.60,scattered clouds,42.6001,-73.9662,
5,Rikitea,PF,77.16,overcast clouds,-23.1203,-134.9692,
6,Camacha,PT,68.00,few clouds,33.0833,-16.3333,
7,Puerto Ayora,EC,77.00,light rain,-0.7393,-90.3518,
10,Esna,EG,93.20,clear sky,25.2934,32.5540,
13,Carballo,ES,64.99,overcast clouds,43.2130,-8.6910,
15,Acapulco,MX,80.60,few clouds,16.8634,-99.8901,
16,Castro,BR,75.51,clear sky,-24.7911,-50.0119,
17,Palmer,US,62.01,scattered clouds,42.1584,-72.3287,

### Using the provided search parameters, a call to the Google Places API was made to retrieve hotel names for the cities in the hotel_df

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Places API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

### NaN values were added for missing Hotel Name in order to drop those rows

In [23]:
 hotel_df.loc[hotel_df["Hotel Name"] == ""] = np.NaN

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Constitucion,CL,61.05,overcast clouds,-35.3333,-72.4167,Hotel Boutique Las Azucenas
5,Rikitea,PF,77.16,overcast clouds,-23.1203,-134.9692,Pension Maro'i
6,Camacha,PT,68.00,few clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
7,Puerto Ayora,EC,77.00,light rain,-0.7393,-90.3518,Finch Bay Galapagos Hotel
10,Esna,EG,93.20,clear sky,25.2934,32.5540,Orient Star Dahabyia Isna 05 Nights Each Sunday
13,Carballo,ES,64.99,overcast clouds,43.2130,-8.6910,Pazo do Souto
15,Acapulco,MX,80.60,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
16,Castro,BR,75.51,clear sky,-24.7911,-50.0119,CHACARA BAILLY
17,Palmer,US,62.01,scattered clouds,42.1584,-72.3287,Wedgewood Motel
25,East London,ZA,71.60,few clouds,-33.0153,27.9116,Tu Casa

### Confirm final count of valid vacation destinations that have a Hotel within the radius of 5 kilometers

In [25]:
clean_hotel_df.count()

City                   348
Country                348
Max Temp               348
Current Description    348
Lat                    348
Lng                    348
Hotel Name             348
dtype: int64

### Output the clean_hotel_df to a .csv file and map the results using the Google gmaps API with markers for each location

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))